@layer base {

  :root {
    --accent: 241deg 53% 18%;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'24
}

@keyframes bell {

  0%,
  20% {
    transform: rotate(-12deg);
  }

  10%,
  30% {
    transform: rotate(12deg);
  }

  60% {
    transform: rotate(0);
  }
}

.animate-bell {
  animation: bell 1.5s ease-in-out infinite;
}
